.header {
  background-color: var(--ctp-base);
  display: flex;
  position: sticky;
  top: 0;

  padding: 20px;
  font-size: 24px;
}
.header p {
  font-weight: bold;
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

.header .header-left {
  flex: 1;
}
.header .header-right {
  flex: 0 0 auto;
  text-align: end;
}

/* Theme Toggle SVG */
.icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  transition: all 0.5s ease;
}

.icon .circle {
  fill: var(--ctp-text);
}
.icon .circle[theme="true"] {
  r: 15px;
}
.icon .circle[theme="false"] {
  r: 15px;
  fill: var(--ctp-base);
  stroke: var(--ctp-text);
  stroke-width: 5px;
}

.icon .moon-hole[theme="false"] {
  transform: translate(0px, 0px);
  r: 0px;
}
.icon .moon-hole[theme="true"] {
  transform: translate(-7.5px, 12.5px);
  r: 15px;
}

