.container {
  margin: 5px 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ctp-surface0);
}
h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}
p {
  margin: 0;
  padding: 0;
}

.legends, .filters {
  margin: 10px;
  background-color: var(--ctp-surface0);
  border-radius: 5px;
  scrollbar-width: none;
  overflow-x: auto;
}
.filters {
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-radius: 10px;
}

.legend, .weapon {
  margin: 5px;
  padding: 5px 15px;
  transition: all 150ms ease;
  font-weight: 600;

  border: 2px solid;
  border-radius: 5px;
  border-color: var(--ctp-green);
  background-color: var(--ctp-surface1);
  color: var(--ctp-text);
}

.legend {
  min-width: 0px;
  margin: 0px;
  white-space: nowrap;
}
.weapon {
  flex: 0 0 auto;
  min-width: 25px;
  cursor: pointer;
  white-space: nowrap;

  border-radius: 15px;
}

.legend[active="false"],
.weapon[active="false"] {
  border-color: var(--ctp-red);
  background-color: var(--ctp-surface0);
  color: var(--ctp-subtext0);
}

.legend[picked="true"] {
  border-color: var(--ctp-text);
  background-color: var(--ctp-blue);
  color: var(--ctp-surface0);
}

button {
  margin: 5px 20px;
  padding: 5px 10px;
  transition: 150ms;
  background-color: var(--ctp-surface1);
  border: 2px solid var(--ctp-blue);
  border-radius: 5px;
  font-size: 14px;
  color: var(--ctp-text);
}
button:hover {
  background-color: var(--ctp-surface2);
  border-color: var(--ctp-sapphire);
}
button:active {
  border-color: var(--ctp-green);
  color: var(--ctp-subtext0);
}
