.container {
  margin: 5px 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ctp-surface0);
}
h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}
p {
  margin: 0;
  padding: 0;
}

.legends, .filters {
  margin: 10px;
  background-color: var(--ctp-surface0);
  border-radius: 5px;
}
.filters {
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-radius: 10px;
}

.legend, .weapon {
  margin: 5px;
  padding: 5px 15px;
  transition: all 150ms ease;

  background: linear-gradient(
        to right,
        var(--ctp-surface1) 0%,
        var(--ctp-surface1) 49%,
        var(--ctp-surface0) 51%,
        var(--ctp-surface0) 100%
      )
      padding-box,
    linear-gradient(
        to right,
        var(--ctp-green) 0%,
        var(--ctp-teal) 49%,
        var(--ctp-red) 51%,
        var(--ctp-maroon) 100%
      )
      border-box;
  background-size: 200% 100%;
  background-position-x: 0%;
  border: 2px solid transparent;
  border-radius: 5px;
}

.legend {
  min-width: 0px;
  margin: 0px;
}
.weapon {
  flex: 0 0 auto;
  min-width: 25px;
  cursor: pointer;
  white-space: nowrap;

  border-radius: 15px;
}

.legend[active="false"],
.weapon[active="false"] {
  background-position-x: 100%;
  color: var(--ctp-subtext0);
}

.picked {
  max-width: 250px;
  background-color: var(--ctp-surface0);
}
.picked p {
  font-size: 20px;
}

button {
  margin: 5px 20px;
  padding: 5px 10px;
  transition: 150ms;
  background-color: var(--ctp-surface1);
  border: 2px solid var(--ctp-blue);
  border-radius: 5px;
  font-size: 14px;
  color: var(--ctp-text);
}
button:hover {
  background-color: var(--ctp-surface2);
  border-color: var(--ctp-sapphire);
}
button:active {
  border-color: var(--ctp-green);
  color: var(--ctp-subtext0);
}
